<a href="https://colab.research.google.com/github/kalyangorjana/Assignmensts/blob/main/Assignments_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.

In [ ]:
test1 = 'This is a test of the emergency text system'
with open('test.txt','w') as f:
  f.write(test1)

2.Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

In [ ]:
test2 = ""
with open('test.txt') as f:
  test2 = f.read()
  print(test2)

# There is no difference between test1 and test2

This is a test of the emergency text system

3.Create a CSV file called books.csv by using these lines:

title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

In [ ]:
data = """title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992"""
with open('books.csv','w') as f:
  f.write(data)

4.Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

In [ ]:
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
table = """CREATE TABLE books(title TEXT, author TEXT,
year INTEGER);"""

cursor.execute(table)

5.Read books.csv and insert its data into the book table.

In [ ]:
import csv

file = open('books.csv')
contents = csv.DictReader(file)
to_db = [(i['title'], i['author'],i['year']) for i in contents]
insert_records = "INSERT INTO books (title, author,year) VALUES(?, ?, ?)"
cursor.executemany(insert_records, to_db)
file.close()

6.Select and print the title column from the book table in alphabetical order.

In [ ]:
query = "SELECT title FROM books ORDER BY title"
row = cursor.execute(query)
for i in row:
  print(i)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

7.From the book table, select and print all columns in the order of publication.

In [ ]:
query = "SELECT * FROM books ORDER BY year"
row = cursor.execute(query)
for i in row:
  print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

8.Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

In [ ]:
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute('select * from books')
for i in rows:
    print(i)

9.Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for
test.

In [ ]:
!pip install redis

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: redis in /usr/local/lib/python3.8/dist-packages (4.4.0)
Requirement already satisfied: async-timeout>=4.0.2 in /usr/local/lib/python3.8/dist-packages (from redis) (4.0.2)

In [ ]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

10.Increment the count field of test and print it.

In [ ]:
conn.hincrby('test','count', 3)