<a href="https://colab.research.google.com/github/kalyangorjana/Assignmensts/blob/main/Programming_Assignment23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1

Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.

Examples

is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [5]:
def is_symmetrical(n):
  return n == int(str(n)[::-1])

In [6]:
is_symmetrical(7227)

True

In [7]:
is_symmetrical(12567)

False

In [8]:
is_symmetrical(44444444)

True

Question 2

Given a string of numbers separated by a comma and space, return the product of the
numbers.

Examples

multiply_nums(&quot;2, 3&quot;) ➞ 6

multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24

multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0

multiply_nums(&quot;10, -2&quot;) ➞ -20

In [17]:
def multiply_nums(s):
  s = s.split(",")
  sum = 1
  for i in s:
    sum *= int(i)
  return sum

In [18]:
multiply_nums("1, 2, 3, 4")

24

In [19]:
multiply_nums("54, 75, 453, 0")

0

In [20]:
multiply_nums("10, -2")

-20

Question 3

Create a function that squares every digit of a number.

Examples

square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

Notes

The function receives an integer and must return an integer.

In [21]:
def square_digits(n):
  sum = ""
  for i in str(n):
    sum += str(int(i)**2)
  return int(sum)

In [22]:
square_digits(9119)

811181

In [23]:
square_digits(2483)

416649

In [30]:
square_digits(3212)

9414

Question 4

Create a function that sorts a list and removes all duplicate items from it.

Examples

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [41]:
def setify(n):
  li = list(set(n))
  li.sort()
  return li

In [42]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [43]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [45]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

Question 5

Create a function that returns the mean of all digits.

Examples

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

Notes

 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).

 The mean will always be an integer.

In [49]:
def mean(n):
  sum = 0
  for i in str(n):
    sum += int(i)
  return int(sum/len(str(n)))

In [50]:
mean(42)

3

In [51]:
mean(12345)

3